/* style.css */

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #085903;
  color: #fff;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

header img {
  max-height: 110px;
}

.hero {
  text-align: center;
  padding: 100px;
  color: #100101;
}

.hero h2 {
  font-size: 30px;
}

.hero p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  font-size: 20px;
  font-weight: 600;
  text-align: justify;
}

.hero img {
  border-radius: 20px;
  width: 300px;
  box-shadow: rgba(1, 163, 192, 0.56) 0px 22px 70px 4px;
}

.hero img:hover {
  cursor: pointer;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box h2 {
  background: linear-gradient(to left, #25aae1, #15f086, #08b963, #04753f);
  background-clip: text;
  display: inline;
  color: transparent;
  animation: animated 5s linear infinite;
  font-size: 35px;
}

@keyframes animated{
  to {background-position-x: 161px;}
}

.descricao {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 20px;
  margin-top: 40px;
  font-weight: 300;
}

.img-alunos{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px 20px 40px;
}

.aluno{
  display: flex;
  flex-direction: column;
  padding: 20px 40px 20px 40px;
}

.aluno h2{
  display: flex;
}

.aluno img{
  width: auto;
  height: 350px;
  border-radius: 20px;
}

.aluno h2{
  display: flex;
  align-items: center;
  justify-content: center;
}

a:hover{
  cursor: pointer;
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button, .aluno a {
  display: inline-block;
  margin: 5px;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #15f086,
    #08b963,
    #04753f
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button:hover{
  cursor: pointer;
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

p {
  font-weight: 300;
}