/* style.css */

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #085903;
  color: #fff;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

header img {
  max-height: 110px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px;
  color: #100101;
}

.hero h2 {
  font-size: 30px;
}

.hero p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  font-size: 20px;
  font-weight: 600;
  text-align: justify;
}

.hero img {
  border-radius: 20px;
  width: 300px;
  box-shadow: rgba(1, 163, 192, 0.56) 0px 22px 70px 4px;
}

.hero img:hover {
  cursor: pointer;
}

.episode {
  padding: 20px;
  margin-bottom: 20px;
  width: 70%;
  max-width: 70%;
  box-shadow: 3px 4px 23px -9px rgba(10, 10, 10, 1);
  -webkit-box-shadow: 3px 4px 23px -9px rgba(10, 10, 10, 1);
  -moz-box-shadow: 3px 4px 23px -9px rgba(10, 10, 10, 1);
  border-radius: 7px;
}

.descricao {
  font-size: 18px;
  font-weight: 300;
}

.data-de-publicacao {
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}

.episode h3 {
  font-size: 25px;
}

.episode h3 a {
  color: #000000;
}

.episodes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  align-items: center;
}

.button {
  display: inline-block;
  margin: 5px;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #15f086,
    #08b963,
    #04753f
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button:hover {
  cursor: pointer;
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.episodes h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #100101;
  font-size: 40px;
}

p {
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .button {
    padding: 20px 30px;
    text-decoration: none;
    font-size: 30px;
    border-radius: 5px;
  }

  .descricao {
    font-size: 15px;
    font-weight: 300;
  }

  .data-de-publicacao {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
  }
}

.coments{
  padding: 20px;
  margin: 20px 100px 20px 100px;
  width: 80%;
  height: 100%;
  box-shadow: 3px 4px 23px -9px rgba(10, 10, 10, 1);
  -webkit-box-shadow: 3px 4px 23px -9px rgba(10, 10, 10, 1);
  -moz-box-shadow: 3px 4px 23px -9px rgba(10, 10, 10, 1);
  border-radius: 7px;
}

.coments h2 {
  font-size: 30px;
  text-align: center;
  padding: 20px 100px 20px 100px;
  color: #100101;
}

.nome{
  font-weight: bolder;
  font-size: 20px;
  padding: 12px 0 0 12px;
}

.mensagem{
  padding: 0 0 0 12px;
}

.comentario-data {
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  padding: 0 0 12px 12px;
}

.comentario{
  box-shadow: 3px 4px 23px -9px rgba(10, 10, 10, 1);
  -webkit-box-shadow: 3px 4px 23px -9px rgba(10, 10, 10, 1);
  -moz-box-shadow: 3px 4px 23px -9px rgba(10, 10, 10, 1);
  border-radius: 12px;
}
