/* style.css */

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #085903;
    color: #fff;
    padding: 30px;
    align-items: center;
    justify-content: center;
}


header img{
    max-height: 110px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px;
    color: #100101;
}

.hero h2{
    font-size: 30px;
}

.hero p{
    margin: 30px;
    font-size: 20px;
    font-weight: 600;
    text-align: justify;
}

.hero img{
    border-radius: 20px;
    width: 300px;
}

.hero img:hover{
    cursor: pointer;
    width: 340px;
    transition: 0.5s;
}

.episode {
    padding: 20px;
    margin-bottom: 20px;
}

.episode p{
    font-size: 20px;
    font-weight: 300;
}

.episode h3{
    font-size: 25px;
}

.episodes{
    padding-left: 20px;
}



.button {
    display: inline-block;
    background-color: #085903;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
}

.button:hover{
    cursor: pointer;
    padding: 15px 25px;
    font-size: 25px;
    transition: 0.5s;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.episodes h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #085903;
    font-size: 40px;
}

p{
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    .button{
    padding: 20px 30px;
    text-decoration: none;
    font-size: 30px;
    border-radius: 5px;
    }

}